.container{
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px;
  gap: 1px;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin-bottom: 24px;
}

.table {
  border-collapse: collapse;
  color: #333333;

  thead {
    color: #828282;
  }

  td {
    border-bottom: 2px solid #F8F8F8;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}