:root {
  --color-inherit: inherit;
  --color-secondary-1: #f8faff;
  --color-secondary-1-hover: #c5d6ff;
  --color-secondary-1-active: #b1c7ff;
  --color-secondary-2: #f1f6ff;
  --color-secondary-2-hover: #bed5ff;
  --color-secondary-2-active: #aac8ff;
  --color-secondary-3: #e8f0ff;
  --color-secondary-3-hover: #b5cfff;
  --color-secondary-3-active: #a1c1ff;
  --color-secondary-4: #ddeafe;
  --color-secondary-4-hover: #abcbfd;
  --color-secondary-4-active: #98bffc;
  --color-secondary-5: #f8f9fb;
  --color-secondary-5-hover: #d8dde8;
  --color-secondary-5-active: #cbd2e1;
  --color-secondary-6: #f3f3f3;
  --color-secondary-6-hover: #dadada;
  --color-secondary-6-active: #cfcfcf;
  --color-secondary-7: #eaeaea;
  --color-secondary-7-hover: #d1d1d1;
  --color-secondary-7-active: #c6c6c6;
  --color-secondary-8: #e3e3e3;
  --color-secondary-8-hover: #cacaca;
  --color-secondary-8-active: #bfbfbf;
  --color-secondary-9: #dadada;
  --color-secondary-9-hover: #c1c1c1;
  --color-secondary-9-active: #b6b6b6;
  --color-secondary-10: #00c35a;
  --color-secondary-10-hover: #009042;
  --color-secondary-10-active: #007c39;
  --color-secondary-11: #00b252;
  --color-secondary-11-hover: #007f3b;
  --color-secondary-11-active: #006b31;
  --color-secondary-12: #397dff;
  --color-secondary-12-hover: #065cff;
  --color-secondary-12-active: #0053f1;
  --color-secondary-13: #fcb500;
  --color-secondary-13-hover: #c99000;
  --color-secondary-13-active: #b58200;
  --color-secondary-14: #6c47ff;
  --color-secondary-14-hover: #4314ff;
  --color-secondary-14-active: #30f;
  --color-secondary-15: #00ced4;
  --color-secondary-15-hover: #009ca1;
  --color-secondary-15-active: #00898d;
  --color-secondary-16: #0c5eff;
  --color-secondary-16-hover: #0049d8;
  --color-secondary-16-active: #0042c4;
  --color-secondary-17: #fcb000;
  --color-secondary-17-hover: #c98c00;
  --color-secondary-17-active: #b57e00;
  --color-secondary-18: #623cfa;
  --color-secondary-18-hover: #3a0af9;
  --color-secondary-18-active: #3306e9;
  --color-secondary-19: #00c7d4;
  --color-secondary-19-hover: #0097a1;
  --color-secondary-19-active: #00848d;
  --color-secondary-20: #397dff;
  --color-secondary-20-hover: #065cff;
  --color-secondary-20-active: #0053f1;
  --color-secondary-21: #00a542;
  --color-secondary-21-hover: #00722e;
  --color-secondary-21-active: #005e25;
  --color-secondary-22: #c62f00;
  --color-secondary-22-hover: #932300;
  --color-secondary-22-active: #7f1e00;
  --color-secondary-23: #e0eaff;
  --color-secondary-23-hover: #adc7ff;
  --color-secondary-23-active: #99baff;
  --color-secondary-24: #a5cbff;
  --color-secondary-24-hover: #72aeff;
  --color-secondary-24-active: #5ea2ff;
  --color-secondary-25: #4293ff;
  --color-secondary-25-hover: #0f76ff;
  --color-secondary-25-active: #006bfa;
  --color-secondary-26: #e0e0e0;
  --color-secondary-26-hover: #c7c7c7;
  --color-secondary-26-active: #bcbcbc;
  --color-secondary-27: #ffba0a;
  --color-secondary-27-hover: #d69a00;
  --color-secondary-27-active: #c28b00;
  --color-secondary-28: #d7eddc;
  --color-secondary-28-hover: #b4ddbd;
  --color-secondary-28-active: #a6d7b1;
  --color-secondary-29: #9edfa4;
  --color-secondary-29-hover: #78d280;
  --color-secondary-29-active: #68cd72;
  --color-secondary-30: #51c35c;
  --color-secondary-30-hover: #3aa744;
  --color-secondary-30-active: #34983e;
  --color-secondary-31: #b2bac8;
  --color-secondary-31-hover: #949fb3;
  --color-secondary-31-active: #8895aa;
  --color-secondary-32: #2d8afa;
  --color-secondary-32-hover: #066fee;
  --color-secondary-32-active: #0566da;
  --color-secondary-33: #0bb859;
  --color-secondary-33-hover: #088842;
  --color-secondary-33-active: #077538;
  --color-secondary-34: #ffbe00;
  --color-secondary-34-hover: #cc9800;
  --color-secondary-34-active: #b88900;
  --color-secondary-35: #f2f4f7;
  --color-secondary-35-hover: #d2d9e4;
  --color-secondary-35-active: #c6cfdc;
  --color-secondary-36: #272727;
  --color-secondary-36-hover: #0e0e0e;
  --color-secondary-36-active: #030303;
  --color-secondary-37: #4ac200;
  --color-secondary-37-hover: #378f00;
  --color-secondary-37-active: #2f7b00;
  --color-secondary-39: #ff4a31;
  --color-secondary-39-hover: #fd1f00;
  --color-secondary-39-active: #e91c00;
  --color-secondary-40: #f6d89e;
  --color-secondary-40-hover: #f2c56f;
  --color-secondary-40-active: #f0be5d;
  --color-secondary-41: #f3d2d0;
  --color-secondary-41-hover: #e9aba7;
  --color-secondary-41-active: #e49c97;
  --color-secondary-42: #fa9600;
  --color-secondary-42-hover: #c77700;
  --color-secondary-42-active: #b36b00;
  --color-secondary-44: #00cd6b;
  --color-secondary-44-hover: #009a50;
  --color-secondary-44-active: #008646;
  --color-secondary-45: #ff8718;
  --color-secondary-45-hover: #e46e00;
  --color-secondary-45-active: #d06400;
  --color-secondary-46: #ff2618;
  --color-secondary-46-hover: #e40e00;
  --color-secondary-46-active: #d00d00;
  --color-secondary-48: #00d88e;
  --color-secondary-48-hover: #00a56c;
  --color-secondary-48-active: #00915f;
  --color-secondary-49: #f3f6fa;
  --color-secondary-49-hover: #cfdbeb;
  --color-secondary-49-active: #c1d0e5;
  --color-secondary-50: #edf1fa;
  --color-secondary-50-hover: #c5d2ef;
  --color-secondary-50-active: #b5c6ea;
  --color-secondary-51: #f5f7f9;
  --color-secondary-51-hover: #d5dee6;
  --color-secondary-51-active: #c8d3de;
  --color-secondary-52: #00c880;
  --color-secondary-52-hover: #00955f;
  --color-secondary-52-active: #008152;
  --color-secondary-53: #00b530;
  --color-secondary-53-hover: #008222;
  --color-secondary-53-active: #006e1d;
  --color-secondary-54: #2c9aff;
  --color-secondary-54-hover: #0081f8;
  --color-secondary-54-active: #0077e4;
  --color-secondary-57: #ffd600;
  --color-secondary-57-hover: #ccab00;
  --color-secondary-57-active: #b89a00;
  --color-secondary-65: #eef8f0;
  --color-secondary-65-hover: #cae9d0;
  --color-secondary-65-active: #bbe3c3;
  --color-secondary-66: #edf0fc;
  --color-secondary-66-hover: #c1ccf5;
  --color-secondary-66-active: #b0bdf2;
  --color-secondary-67: #fcf8ee;
  --color-secondary-67-hover: #f4e6c3;
  --color-secondary-67-active: #f1dfb1;
  --color-secondary-68: #2949c2;
  --color-secondary-68-hover: #203998;
  --color-secondary-68-active: #1d3387;
  --color-secondary-69: #e87d00;
  --color-secondary-69-hover: #b56200;
  --color-secondary-69-active: #a15700;
  --color-secondary-70: #f9f9f9;
  --color-secondary-70-hover: #e0e0e0;
  --color-secondary-70-active: #d5d5d5;
  --color-secondary-71: #fff2f1;
  --color-secondary-71-hover: #ffc3be;
  --color-secondary-71-active: #ffb0aa;
  --color-secondary-72: #3dff70;
  --color-secondary-72-hover: #0aff4a;
  --color-secondary-72-active: #00f540;
  --color-basic-primary-black: #000;
  --color-basic-primary-black-hover: #000;
  --color-basic-primary-black-active: #000;
  --color-basic-primary-blue: #1573ef;
  --color-basic-primary-blue-hover: #0b6bea;
  --color-basic-primary-blue-hover-hover: #0955b9;
  --color-basic-primary-blue-hover-active: #084ca6;
  --color-basic-primary-blue-active: #0b6bea;
  --color-basic-primary-blue-active-hover: #0955b9;
  --color-basic-primary-blue-active-active: #084ca6;
  --color-basic-primary-grey: #1e2f4b;
  --color-basic-primary-grey-hover: #0f1827;
  --color-basic-primary-grey-active: #0a0f18;
  --color-basic-primary-lightgrey: #F2F2F2;
  --color-basic-primary-lightgrey-hover: #d9d9d9;
  --color-basic-primary-lightgrey-active: #cecece;
  --color-basic-primary-white: #fff;
  --color-basic-primary-white-hover: #e6e6e6;
  --color-basic-primary-white-active: #dbdbdb;
  --color-basic-primary-error: #ff938c;
  --color-basic-primary-error-hover: #ff6359;
  --color-basic-primary-error-active: #ff5045;
  --color-secondary-grey: #8e96a4;
  --color-secondary-grey-hover: #727c8d;
  --color-secondary-grey-active: #697282;
  --color-secondary-white: #fafafa;
  --color-secondary-white-hover: #e1e1e1;
  --color-secondary-white-active: #d6d6d6;
  --color-secondary-light: #adb4c0;
  --color-secondary-light-hover: #909aaa;
  --color-secondary-light-active: #858fa1;
  --color-filter-blue: #f1f6ff;
  --color-filter-blue-active: #e8f0ff;
  --color-filter-blue-active-hover: #b5cfff;
  --color-filter-blue-active-active: #a1c1ff;
  --color-filter-blue-hover: #e8f0ff;
  --color-filter-blue-hover-hover: #b5cfff;
  --color-filter-blue-hover-active: #a1c1ff;
  --color-filter-grey: #f3f3f3;
  --color-filter-grey-active: #e3e3e3;
  --color-filter-grey-active-hover: #cacaca;
  --color-filter-grey-active-active: #bfbfbf;
  --color-filter-grey-hover: #eaeaea;
  --color-filter-grey-hover-hover: #d1d1d1;
  --color-filter-grey-hover-active: #c6c6c6;
  --color-filter-orange: #fff4df;
  --color-filter-orange-hover: #ffe8bb;
  --color-filter-orange-hover-hover: #ffd788;
  --color-filter-orange-hover-active: #ffd074;
  --color-filter-orange-active: #ffd89e;
  --color-filter-orange-active-hover: #ffc36b;
  --color-filter-orange-active-active: #ffbb57;
  --color-stroke--1: #f3f3f3;
  --color-stroke--1-hover: #dadada;
  --color-stroke--1-active: #cfcfcf;
  --color-stroke--2: #e3e5e9;
  --color-stroke--2-hover: #c6cad3;
  --color-stroke--2-active: #bbc0ca;
  --color-stroke--3: #c9cdd3;
  --color-stroke--3-hover: #adb3bc;
  --color-stroke--3-active: #a2a9b3;
  --color-stroke--4: #1573ef;
  --color-stroke--4-hover: #0d5cc4;
  --color-stroke--4-active: #0c53b1;
  --color-text-active: #1573ef;
  --color-text-active-hover: #0d5cc4;
  --color-text-active-active: #0c53b1;
  --color-text-grey-1: #666;
  --color-text-grey-1-hover: #4d4d4d;
  --color-text-grey-1-active: #424242;
  --color-text-primary: #1e2f4b;
  --color-text-primary-hover: #0f1827;
  --color-text-primary-active: #0a0f18;
  --color-text-secondary: #8e96a4;
  --color-text-secondary-hover: #727c8d;
  --color-text-secondary-active: #697282;
  --color-text-secondary-dark: #7c8697;
  --color-text-secondary-dark-hover: #636d7d;
  --color-text-secondary-dark-active: #5a6371;
  --color-text-tertary: #000;
  --color-text-tertary-hover: #000;
  --color-text-tertary-active: #000;
  --color-text-white: #fff;
  --color-text-white-hover: #e6e6e6;
  --color-text-white-active: #dbdbdb;
  --color-text-error: #f04c41;
  --color-text-error-hover: #eb2013;
  --color-text-error-active: #d91e11;
  --color-text-error-2: #cd6200;
  --color-text-error-2-hover: #9a4a00;
  --color-text-error-2-active: #864000;
}